<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/main-header %>
    <% include ../partials/main-navbar.ejs %>
  </head>
  <body>
    <% include ../partials/popup %>
    <section class="header">
      <div class="header--title">
        <div class="title--main">Interlake Programming Contest</div>
        <div class="title--secondary">Spring 2020</div>
      </div>
    </section>
    <main class="content">
      <section class="content--body">
        <p class="body--title">General Info</p>
        <p class="body--subtitle">Location: </p>
        <a href="<%= config.location.url %>" rel="noopener" target="_blank">
          <%= config.location.name %>
        </a>
      </section>
      <section class="content--body">
        <p class="body--title">Rules</p>
        <p>1. Teams must consist of one to three people</p>
        <p>2. Each team is only allowed one computer</p>
        <p>3. No use of the internet during the competition. Paper documentation is allowed however</p>
      </section>
      <section class="content--body">
        <p class="body--title">Sponsors</p>
        <% config.sponsors.forEach(sponsor => { %>
          <div class="sponsor sponsor__used">
            <a href="<%= sponsor.url %>" class="sponsor--link">
              <img src="<%= sponsor.img %>" title="<%= sponsor.desc || "" %>">
            </a>
          </div>
        <% }) %>
        <div class="sponsor">
          <p>Your Logo Here</p>
        </div>
        <br>
        <a href="mailto:interlakeprogrammingclub@gmail.com">Contact Us</a>
      </section>
    </main>
  </body>
</html>
