<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header %>
    <script src="/scripts/problems.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>
  <body>
    <% include ../partials/popup %>
    <nav class="navbar">
      <a href="/" id="navbar-problems" class="navbar--link"> Problems </a>
      <a href="/scoreboard" id="navbar-scoreboard" class="navbar--link"> Scoreboard </a>
      <p id="timer" class="navbar--timer"></p>
    </nav>
    <section class="problem-section">
      <div id="problem-list" class="problem-list">
        <% problems.forEach((problem, i) => { %>
          <div class="problem-list--item" data-id="<%= i %>" data-name="<%= problem.name %>">
            <a class="navbar--link" href="#problem-<%= problem.name %>"><%= problem.name %></a>
          </div>
        <% }) %>
      </div>
      <div id="problems">
        <% problems.forEach((problem, i) => { %>
        <div data-id="<%= i %>" class="problem-statement" <%- i === 0? "": `style="display: none";` %>>
          <div class="problem--title"><%= problem.name %></div>
          <div class="problem--text"><%= problem.statement %></div>
        </div>
        <% }) %>
      </div>
      <div class="problem-submit form">
        <form
          action="/grader/submit"
          method="POST"
          enctype="multipart/form-data"
        >
          <input id="pid" style="display: none;" name="pid" value="<%= problems[0].name %>"/>
          <select class="form--button" name="lang">
            <option value="java">Java</option>
            <option value="javascript">Javascript</option>
            <option value="c">C</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="python">Python 3</option>
          </select>
          <input class="form--button" type="file" name="file" />
          <button class="form--button form--button__align-right" type="submit">
            Submit
          </button>
        </form>
        <table class="submissions">
          <thead>
            <tr>
              <th>Problem</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="submissions"></tbody>
        </table>
      </div>
    </section>
    <section class="scoreboard-section">
      <table class="scoreboard">
        <thead>
          <tr>
            <th>User</th>
            <th>Score</th>
            <th>Division</th>
          </tr>
        </thead>
        <tbody class="scoreboard--data" id="scoreboard"></tbody>
      </table>
    </section>
  </body>
</html>
