<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/header %>
    <script src="/scripts/problems.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  </head>
  <body>
    <% include ../../partials/popup %>
    <% include ../../partials/navbar %>
    
    <section class="problem-section">
      <% 
      const formatHash = name => name.toLowerCase().replace(/ /g, "-");
      %>
      <div id="problem-list" class="problem-list">
        <% problems.forEach((problem, i) => { %>
          <div class="problem-list--item">
            <a class="problem-list--link" href="#<%= formatHash(problem.name) %>" data-id="<%= i %>" data-name="<%= problem.name %>"><%= problem.name %></a>
          </div>
        <% }) %>
      </div>
      <div id="problems">
        <% problems.forEach((problem, i) => { %>
          <div data-hash="<%= formatHash(problem.name) %>" data-id="<%= i %>" data-name="<%= problem.name %>" class="problem-statement <%= i === 0? "": "problem-statement__hidden" %>">
            <div class="problem--title"><%= problem.name %></div>
            <% if(problem.config.author) { %>
              <div class="problem--author">By <%= problem.config.author %></div>
            <% } %>
            <div class="problem--text"><%- md.render(problem.statement) %></div>
          </div>
        <% }) %>
      </div>
      <div class="problem-submit">
        <form
          class="form"
          action="/grader/submit"
          method="POST"
          enctype="multipart/form-data"
        >
          <input id="pid" style="display: none;" name="pid" value="<%= problems[0].name %>"/>
          <select class="form--button" name="lang">
            <% const captalize = str => str.charAt(0).toUpperCase() + str.substring(1) %>
            <% languages.forEach(lang => { %>
              <option value="<%= lang %>"><%= captalize(lang) %></option>
            <% }) %>
          </select>
          <input class="form--button" type="file" name="file" />
          <button class="form--button form--button__align-right" type="submit">
            Submit
          </button>
        </form>
        <br>
        <table class="submissions">
          <thead>
            <tr>
              <th>Problem</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody id="submissions"></tbody>
        </table>
      </div>
    </section>
  </body>
</html>
